body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(111, 185, 234);

}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.1);

}

h1, h2 {
    color: #010101;
    text-align: center;

}

ul {
    list-style-type: none;
    padding: 0;

}

li {
    margin-bottom: 10px;
    text-align: center;
}

li:first-child {
    font-weight: bold;

}

p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.video-container {
    margin-top: 20px;
}
.video-container video {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.audio-container audio{
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

#datetime {
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #4f4f4c;
    text-align: center;
    margin: 0 auto;
}